* {
  background-color: rgb(178, 224, 237);
  text-align: center;
  margin: 0px;
}
header h1 {
  margin: 0px;
  padding-top: 20px;
  font-family: Monaco;
  padding-bottom: 20px;
}

#user_input {
  padding: 20px;
  flex: 50%;

  background-color: white;
  margin-top: 50px;
  border: black;
  border-style: solid;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px 0px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}

#input_submit_button {
  margin-top: 50px;
  background-color: white;
  width: 200;
  height: 50px;
  font-size: 19px;
  font-family: Monaco;
}

a {
  background-color: rgb(178, 224, 237);
  text-align: center;
  margin: 0px;
}

#my-nav {
  background-color: rgb(178, 224, 237);
  margin: 0px;
  padding: 0%;
}

body {
  margin: 0px;
  padding: 0px;
}

.words {
  font-size: 100px;
  font-style: italic;

  margin: 0px;
  padding-top: 150px;
}

#next-word-button {
  border-radius: 0 100% 100% 0 / 50%;
  height: 55px;
  background-color: lightgreen;
  font-weight: bold;
  width: 130px;
  align-self: center;
  margin-top: 150px;
}

#prev-word-button {
  border-radius: 100% 0 0 100% / 50%;
  height: 55px;
  background-color: lightgreen;
  font-weight: bold;
  width: 130px;
  align-self: center;
  margin-top: 150px;
}

.flashes li {
  font-size: 25px;
  font-family: Copperplate;
  padding: 0px;
  margin: 0px;
  list-style: none;
  color: red;
  text-align: center;
}
