{%extends 'base.html'%}


{%block content%}
<div class="heading">
<header>
    <h1 style="text-align:center;">
      <a href="/">QuickReader</a>
     </h1>
</header>
</div>

<nav id = "my-nav" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">QuickReader</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div>
{%with messages = get_flashed_messages() %}
  {%if messages%}
  <ul class=flashes style="margin:0px;">
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
  </ul>
  {%endif%}
{%endwith%}
</div>
<div>
    <form action="/" method = "POST">
        <textarea placeholder="Type or Paste text here..." name="user_input" id="user_input" cols="100" rows="25"></textarea>
        <br>
        <input action="/reader" id="input_submit_button" type="Submit" value="Read Wicked Fast"> 
    </form>
</div>


{%endblock%}