{% extends 'base.html' %}


{%block content%}
<div class="heading">
    <header>
        <h1 style="text-align:center;">
          <a href="/">QuickReader</a>
         </h1>
    </header>
</div>

<div class="words">
    <span>
        <span id="current-word">{{word}}</span>
    </span>


</div>
<div class="word-buttons">
        <button onclick="" id = "prev-word-button"name="prev-word-button">Previous Word</button>
        <button  onclick="" id ="next-word-button" name="next-word-button">Next Word</button>
</div>


{%endblock%}




