{% extends 'base.html' %}


{%block content%}
<div class="heading">
    <header>
        <h1 style="text-align:center;">
          <a href="/">QuickReader</a>
         </h1>
    </header>
</div>

<div class="words">
    <span>
        <span id="current-word">{{word}}</span>
    </span>


</div>
<div class="word-buttons">
    <form action="/reader" method='POST'>
        <input type="submit" name="one_button" id="prev-word-button" value="Previous Word">
        <input type="submit" name="one_button" id="next-word-button" value="Next Word">
    </form>
</div>


{%endblock%}

        <!-- <button type="button" id = "prev-word-button"name="navigation_button" value="next-word">Previous Word</button>
        <button type="button" id ="next-word-button" name="navigation_button" value="prev-word">Next Word</button> -->



